@import url('../../common/theme.css');

.badge {
    padding: clamp(0.1rem, 0.2vw, 0.2rem) clamp(0.4rem, 0.5vw, 0.06rem);
    border-radius: 5px;
    width: fit-content;
}

.badge-default {
    background-color: #707070;
    color: var(--primary-font-dark);
}