.titlecard {
    padding-bottom: 1vw;
    margin-bottom: 0.5vw;
    border-bottom: 1px solid var(--primary-border-color);
}
.projectlogo {
    height: clamp(2rem, 2.5vw, 4rem);
    margin-top: clamp(-1rem, -1vw, -1rem);
    svg {
        height: inherit;
        width: auto;
    }
}
.projectCompanylogo {
    height: clamp(2rem, 2vw, 4rem);
    svg {
        height: inherit;
        width: auto;
    }
}
.rolebullet {
    height: 2vw;
    margin-right: 1vw;
    color: var(--primary-icon-color);
}
.arrowRight {
    height: clamp(1rem, 1vw, 1rem) !important;
}