@import './common/theme.css';

@font-face {
  font-family: "Galey-Light";
  src: local("GaleyLight"),
    url("./fonts/Galey-light.ttf") format("truetype");
}
@font-face {
  font-family: "Galey-Bold";
  src: local("GaleyBold"),
    url("./fonts/Galey-bold.ttf") format("truetype");
}

.App {
  text-align: center;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  cursor: none;
  height: 100dvh;
  overflow: overlay;
  font-family: 'Galey-Light', 'Segoe UI';
  transition: background-color 1s ease-in-out;
  transition: color 1s ease-in-out;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  overflow: hidden;
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
