@import url('./theme.css');

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}
.primary-button {
    background-color: var(--primary-button-color) !important;
    border: none !important;
}
.secondary-button {
    background-color: var(--secondary-button-color) !important;
    border: none !important;
}

.margin-0-1 {
    margin: 0 2vw;
}
.margin-2 {
    margin: 2vw
}
.margin-2-0 {
    margin: 2vw 0
}
.font-1-5 {
    font-size: clamp(1rem, 1.5vw, 2rem);
}
.font-1-2 {
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.justify {
    text-align: justify;
}
.text-center {
    text-align: center;
}

.sec-color {
    color: var(--secondary-font-color);
}
.ter-color {
    color: var(--ternary-font-color);
}

.title {
    font-family: 'Galey-Bold', 'Galey-Light', 'Segoe UI';
}

.sectiontitle {
    font-size: clamp(2.5rem, 3vw, 8rem);
    font-family: 'Galey-Bold', Courier, monospace;
    color: var(--primary-font-color);
    padding-bottom: 2vw;
}
.grandtitle {
    font-size: clamp(1.7rem, 1.8vw, 2rem) !important;
}
.primary-font {
    font-family: 'Galey-Bold', Courier, monospace;
    color: var(--primary-font-color);
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}
.themeSVGIcon {
    color: var(--primary-font-color);
}
.secondary-font {
    color: var(--primary-font-color);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.ternary-font {
    color: var(--ternary-font-color);
    font-size: clamp(0.8rem, 0.8vw, 1rem);
}
.ternary-font-bright {
    color: var(--secondary-font-bright-color);
    font-size: clamp(0.8rem, 0.5vw, 1rem);
}
.ternary-color {
    color: var(--secondary-font-bright-color);
}
.primary-color {
    color: var(--primary-font-color);
}
.primary-theme-color {
    color: var(--primary-color);
}
.para {
    margin-top: 1vw;
    color: var(--secondary-font-color);
    font-size: clamp(0.9rem, 0.5vw, 1rem);
}
.space-between {
    justify-content: space-between;
}
.scrollTopIcon {
    z-index: 101 !important;
    right: 50px !important;
    display: flex;
    align-items: center;
    place-content: center;
}
.gap-2 {
    gap: 2vw;
}
.margin-top-0-5 {
    margin-top: 0.5vw;
}
.gap-1 {
    gap: 1vw
}
.nodeclink {
    text-decoration: none !important;
}
.ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.height-100 {
    height: 100%;
}

.hover-zoom-1 {
    transition: transform 0.25s ease-in-out !important;
}
.hover-zoom-0 {
    transition: transform 0.25s ease-in-out !important;
}
.hover-zoom-small {
    transition: transform 0.25s ease-in-out !important;
}
.hover-zoom-small:hover {
    transform: scale(1.01) !important;
}
.hover-zoom-1:hover {
    transform: scale(1.1) !important;
}

.hover-zoom-0:hover {
    transform: scale(1.05) !important;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}
.gap-3 {
    gap: 3vw;
}
.seeAllIcon {
    height: clamp(1.2rem, 1vw, 1rem);
    margin-top: -0.1vw;
    svg {
        height: inherit;
    }
}
.flex-column {
    flex-direction: column;
}
.flex-end {
    justify-content: end;
}
.flex-1 {
    flex: 1;
}

.height-100vh {
    height: 100vh;
}

.padding-1 {
    padding: 1vw;
}
.padding-0-1 {
    padding: 0 1vw;
}
.margin-0-2 {
    margin: 0 2vw;
}


.align-left {
    text-align: left;
}

.height-50 {
    height: 50%;
}
.margin-top-1 {
    margin-top: 1vw;
}
section {
    display: flex;
    width: 100%;
    margin-top: clamp(1.5rem, 2vw, 2rem);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 1s infinite;
}

.bold {
    font-weight: 600;
}

.gap-vh {
    gap: clamp(2rem, 3vw, 4rem);
}
.ternary-font-size {
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6a6868;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}