:root {
    --primary-color: #3E4498;
    --secondary-color: #ACA9BB;
    /* ------------------------------ */
    --primary-bg-light: #f1f1f1;
    --primary-font-light: #272626;
    --primary-icon-light: #3E4498;
    --primary-card-light: rgba(237, 237, 237, 0.97);
    --primary-slip-light: rgba(233, 230, 230, 0.97);
    --primary-button-light: #3E4498;
    --primary-border-light: rgb(209, 202, 202);

    --primary-bgimage-light: url('./images/lightbg.svg');

    --secondary-button-light: #5783db;
    --secondary-font-light: #66666d;

    --ternary-font-light: #808086;

    /* ------------------------------ */
    --primary-bg-dark: rgba(31, 31, 31, 0.5);
    --primary-font-dark: #d5d5dd;
    --primary-icon-dark: #ACA9BB;
    --primary-card-dark: rgb(13, 13, 13, 0.97);
    --primary-slip-dark: rgba(26, 26, 26, 0.97);
    --primary-button-dark: #3E4498;
    --primary-border-dark: rgb(59, 58, 58);

    --primary-bgimage-dark: url('./images/darkbg.svg');

    --secondary-font-dark: #9496b0;
    --secondary-button-dark: #49484e;

    --ternary-font-dark: #656676;

}
.theme-dark {
    --primary-bg-color: var(--primary-bg-dark);
    --primary-font-color: var(--primary-font-dark);
    --primary-icon-color: var(--primary-icon-dark);
    --primary-card-color: var(--primary-card-dark);
    --primary-bgimage: var(--primary-bgimage-dark);
    --primary-slip-color: var(--primary-slip-dark);
    --primary-button-color: var(--primary-button-dark);
    --primary-border-color: var( --primary-border-dark);

    --secondary-button-color: var(--secondary-button-dark);
    --secondary-font-color: var(--secondary-font-dark);

    --ternary-font-color: var(--ternary-font-dark);
  }

.theme-light {
    --primary-bg-color: var(--primary-bg-light);
    --primary-font-color: var(--primary-font-light);
    --primary-icon-color: var(--primary-icon-light);
    --primary-card-color: var(--primary-card-light);
    --primary-bgimage: var(--primary-bgimage-light);
    --primary-slip-color: var(--primary-slip-light);
    --primary-button-color: var(--primary-button-light);
    --primary-border-color: var( --primary-border-light);

    --secondary-font-color: var(--secondary-font-light);
    --secondary-button-color: var(--secondary-button-light);

    --ternary-font-color: var(--ternary-font-light);
}
